Repository Ne-o-rdinary-7th-Team-C/client, changes with the labels that .github/labeler.yml gives for each.
All labels: @app/web, @app/native, packages

feat: colors 추가
  apps/web/src/colors.ts
  apps/web/tailwind.config.ts
Labels: @app/web

feat: borderRadius 추가
  apps/web/src/borderRadius.ts
  apps/web/tailwind.config.ts
Labels: @app/web

work: gitignore add
  .gitignore
Labels: none

chore: primaryColor 수정
  apps/web/src/colors.ts
Labels: @app/web

fix: 리액트네이티브 웹뷰 세팅
  .npmrc
  apps/.DS_Store
  apps/mobile/.gitignore
  apps/mobile/README.md
  apps/mobile/app.json
  apps/mobile/app/+not-found.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/assets/fonts/SpaceMono-Regular.ttf
  apps/mobile/assets/images/adaptive-icon.png
  apps/mobile/assets/images/favicon.png
  apps/mobile/assets/images/icon.png
  apps/mobile/assets/images/partial-react-logo.png
  apps/mobile/assets/images/react-logo.png
  apps/mobile/assets/images/react-logo@2x.png
  apps/mobile/assets/images/react-logo@3x.png
  apps/mobile/assets/images/splash-icon.png
  apps/mobile/package.json
  apps/mobile/scripts/reset-project.js
  apps/mobile/src/providers.tsx
  apps/mobile/tsconfig.json
  apps/native/app/+not-found.tsx
  apps/native/app/index.tsx
  apps/native/tsconfig.json
  pnpm-lock.yaml
Labels: @app/native

feat: pretendard font add
  apps/web/app/layout.tsx
  apps/web/src/shared/pretendard/Pretendard-Black.woff2
  apps/web/src/shared/pretendard/Pretendard-Bold.woff2
  apps/web/src/shared/pretendard/Pretendard-ExtraBold.woff2
  apps/web/src/shared/pretendard/Pretendard-ExtraLight.woff2
  apps/web/src/shared/pretendard/Pretendard-Light.woff2
  apps/web/src/shared/pretendard/Pretendard-Medium.woff2
  apps/web/src/shared/pretendard/Pretendard-Regular.woff2
  apps/web/src/shared/pretendard/Pretendard-SemiBold.woff2
  apps/web/src/shared/pretendard/Pretendard-Thin.woff2
  apps/web/src/shared/pretendard/Pretendard.ts
Labels: @app/web

feat: montserrat 폰트 파일 추가
  apps/web/public/fonts/Montserrat-Bold.woff2
Labels: @app/web

feat: text add
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/src/colors.ts
  apps/web/src/shared/fonts/pretendard/Pretendard-Black.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-Bold.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-ExtraBold.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-ExtraLight.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-Light.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-Medium.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-Regular.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-SemiBold.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard-Thin.woff2
  apps/web/src/shared/fonts/pretendard/Pretendard.ts
  apps/web/src/shared/hooks/use-funnel.tsx
  apps/web/src/shared/ui/text.tsx
Labels: @app/web

feat: add button componnent
  apps/web/package.json
  apps/web/src/shared/ui/button.tsx
  apps/web/src/shared/ui/cn.ts
  pnpm-lock.yaml
Labels: @app/web

feat: text 컴포넌트기능을 개발했어요
  apps/web/app/first/page.tsx
  apps/web/app/yang/page.tsx
  apps/web/src/shared/ui/text.tsx
Labels: @app/web

feat: add input
  apps/web/src/shared/ui/input.tsx
Labels: @app/web

feat: 시작페이지기능 작업중
  apps/web/app/first/page.tsx
Labels: @app/web

feat: add global layout ad default layout components
  apps/web/app/layout.tsx
  apps/web/src/shared/ui/FixedBottom.tsx
  apps/web/src/shared/ui/GlobalLayout.tsx
  apps/web/src/shared/ui/JustifyBetween.tsx
  apps/web/src/shared/ui/JustifyEnd.tsx
  apps/web/src/shared/ui/Stack.tsx
  apps/web/src/shared/ui/flex.tsx
Labels: @app/web

feat: routes 설정
  apps/web/app/calendar/[date]/page.tsx
  apps/web/app/calendar/[id]/[date]/page.tsx
  apps/web/app/calendar/[id]/page.tsx
  apps/web/app/calendar/create/page.tsx
  apps/web/app/calendar/page.tsx
  apps/web/app/complete/[id]/page.tsx
  apps/web/app/login/page.tsx
  apps/web/app/page.tsx
  apps/web/app/question/[id]/page.tsx
  apps/web/app/select/[id]/page.tsx
  apps/web/app/signUp/page.tsx
  apps/web/src/routes.ts
Labels: @app/web

feat: add dialog and precommit process add
  apps/web/package.json
  apps/web/src/shared/ui/Dialog.tsx
  apps/web/src/shared/ui/FixedBottom.tsx
  lefthook.yml
  pnpm-lock.yaml
Labels: @app/web

style: format code
  apps/mobile/app/index.tsx
  apps/mobile/scripts/reset-project.js
  apps/web/app/first/page.tsx
  apps/web/app/yang/page.tsx
  apps/web/src/providers.tsx
  apps/web/src/shared/hooks/use-funnel.tsx
  apps/web/src/shared/ui/Dialog.tsx
  apps/web/src/shared/ui/GlobalLayout.tsx
  apps/web/src/shared/ui/JustifyBetween.tsx
  apps/web/src/shared/ui/JustifyEnd.tsx
  apps/web/src/shared/ui/Stack.tsx
  apps/web/src/shared/ui/button.tsx
  apps/web/src/shared/ui/flex.tsx
  apps/web/src/shared/ui/input.tsx
  apps/web/src/shared/ui/text.tsx
  packages/bridge/src/index.ts
  packages/http/src/index.ts
Labels: @app/web, packages

chore: test commit
  lefthook.yml
Labels: none

style: format biome commit add
  lefthook.yml
Labels: none

feat: formatbiome
  apps/web/src/shared/ui/cn.ts
Labels: @app/web

feat: workflows add
  lefthook.yml
Labels: none

fix: routes 수정
  apps/web/app/calendar-view/[id]/[date]/page.tsx
  apps/web/app/calendar-view/[id]/page.tsx
  apps/web/src/routes.ts
Labels: @app/web

feat: sonner add
  apps/web/src/providers.tsx
  apps/web/src/shared/ui/drawer.tsx
Labels: @app/web

feat: add dialog and drawer
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/src/shared/ui/Dialog.tsx
  apps/web/src/shared/ui/drawer.tsx
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Labels: @app/web

fix: build error fix
  apps/web/app/page.tsx
Labels: @app/web

feat: button 작업중
  .gitignore
  apps/web/app/first/page.tsx
  apps/web/src/shared/ui/button.tsx
Labels: @app/web

fix: signup route error fix
  apps/web/app/sign-up/page.tsx
  apps/web/src/features/advent-calendar/Button.tsx
Labels: @app/web

feat: assets 추가
  apps/web/public/icons/close.svg
  apps/web/public/icons/copylink.webp
  apps/web/public/icons/facebook.webp
  apps/web/public/icons/instagram.webp
  apps/web/public/icons/kakaotalk.webp
  apps/web/public/icons/left.svg
  apps/web/public/icons/mail.webp
  apps/web/public/icons/message.webp
Labels: @app/web

feat: button 컴포넌트 완료
  apps/web/app/first/page.tsx
  apps/web/app/page.tsx
  apps/web/src/shared/ui/button.tsx
Labels: @app/web

feat: authentication state add
  apps/web/app/sign-up/_components/IdAndPasswordStep.tsx
  apps/web/app/sign-up/_components/NicknameAndColorStep.tsx
  apps/web/package.json
  apps/web/src/http.ts
  apps/web/src/shared/auth/index.tsx
  apps/web/src/shared/types/api.type.ts
  pnpm-lock.yaml
Labels: @app/web

feat: remotes tasks add
  apps/web/package.json
  apps/web/src/api/remotes.ts
  pnpm-lock.yaml
Labels: @app/web

fix: build error
  .gitignore
  apps/web/.turbo/turbo-build.log
  apps/web/app/first/page.tsx
Labels: @app/web

feat: storybook add
  apps/web/.gitignore
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/package.json
  apps/web/src/stories/Configure.mdx
  apps/web/src/stories/assets/accessibility.png
  apps/web/src/stories/assets/accessibility.svg
  apps/web/src/stories/assets/addon-library.png
  apps/web/src/stories/assets/assets.png
  apps/web/src/stories/assets/avif-test-image.avif
  apps/web/src/stories/assets/context.png
  apps/web/src/stories/assets/discord.svg
  apps/web/src/stories/assets/docs.png
  apps/web/src/stories/assets/figma-plugin.png
  apps/web/src/stories/assets/github.svg
  apps/web/src/stories/assets/share.png
  apps/web/src/stories/assets/styling.png
  apps/web/src/stories/assets/testing.png
  apps/web/src/stories/assets/theming.png
  apps/web/src/stories/assets/tutorials.svg
  apps/web/src/stories/assets/youtube.svg
  pnpm-lock.yaml
Labels: @app/web

feat: input 스타일 추가
  apps/web/src/shared/ui/input.tsx
Labels: @app/web

style: 코드 format
  apps/web/src/api/remotes.ts
  apps/web/src/features/advent-calendar/Button.tsx
Labels: @app/web

feat: 시작 페이지 작업
  apps/web/app/first/page.tsx
  apps/web/app/sign-up/_components/IdAndPasswordStep.tsx
  apps/web/src/shared/ui/FixedBottom.tsx
  apps/web/src/shared/ui/button.tsx
Labels: @app/web

feat: drawer 공유기능 추가
  apps/web/src/features/social-share/Drawer.stories.tsx
  apps/web/src/features/social-share/Drawer.tsx
  apps/web/src/shared/ui/drawer.tsx
  apps/web/src/shared/ui/text.tsx
Labels: @app/web

docs: example 추가
  apps/web/src/features/social-share/Drawer.stories.tsx
Labels: @app/web

feat: 유틸 추가
  apps/web/src/features/social-share/Drawer.tsx
Labels: @app/web

feat: copyclipboard add
  apps/web/src/kernel.d.ts
  apps/web/src/shared/bridge/copy-clipboard.ts
  apps/web/src/shared/bridge/is-app.ts
  apps/web/src/shared/bridge/use-is-app.ts
Labels: @app/web

feat: drawer add
  apps/web/src/features/social-share/Drawer.tsx
Labels: @app/web

.github/labeler.yml:

"@app/web":
  - changed-files:
      - any-glob-to-any-file: "apps/web/**"

"@app/native":
  - changed-files:
      - any-glob-to-any-file: "apps/native/**"

"packages":
  - changed-files:
      - any-glob-to-any-file: "packages/**"
